services:
  db:
    expose:
      - "5432"
    networks:
      - proxy 

  api:
    image: ghcr.io/jackdevtech455/youtube-analytics-api:${IMAGE_TAG:-main}
    expose:
      - "8000"
    networks:
      - proxy

  worker:
    image: ghcr.io/jackdevtech455/youtube-analytics-worker:${IMAGE_TAG:-main}
    networks:
        - proxy

  frontend:
    image: ghcr.io/jackdevtech455/youtube-analytics-frontend:${IMAGE_TAG:-main}
    expose:
      - "3000"
    networks:
      - proxy

networks:
  proxy:
    external: true
